.introduction-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 2rem 2rem 1rem;
  text-align: center;
  word-break: normal;
}

/* Note this borrows form stuff in contact.css*/
.introduction-image {
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
  border: 3px solid #d7e3eb;
  margin-top: 0.3rem;
  width: 100%;
}
