.landing-image {
  width: 100%;
  border: 3px solid #d7e3eb;
  margin-top: 0.3rem;
}

.masonry {
  column-count: 4;
  column-gap: 16px;
  margin: 0.4rem;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.landing-absolute-center {
  position: fixed;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
}

#landing-button {
  background: radial-gradient(circle at 50% 50%, #b52626, #bc2828, #c22b2b, #c82d2d, #cf3030, #d03838, #d14040, #d24848, #d35050, #d45757, #d55f5f, #d66767);
  color: #d7e3eb;
}

#spinning-emoji {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  position: fixed;
  bottom: 50%;
  left: 50%;

}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
