@media only screen and (min-width: 768px) {
  .masonry {
    column-count: 5;
    column-gap: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .masonry {
    column-count: 3;
    column-gap: 12px;
  }
  .search-container > .search-results {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-container > .search-results > .search-image {
    border: 3px solid #d7e3eb;
    height: 8rem;
    margin: 0.3rem;
    width: 8rem;
  }
}
